<fieldset>
<legend>
    <h1>ХБП.NET</h1>
</legend>
    {% for key, value in columns.items() %}
        {% set key = key %}
        {% set value = value %}
        {% if not value %}
            {% include 'field.html' %}
        {% else %}
            {% include 'cat_field.html' %}
        {% endif %}
    {% endfor %}
</fieldset>
<fieldset>
    <button id='submit-config' onclick="submitButton({{ columns.keys() | list }})"> Отправить </button>
</fieldset>
<fieldset>
        <label for="response"> Вероятность болезни: </label><br/>
        <fieldset id='response'></fieldset><br/>
</fieldset>

<script>
    function rus_to_latin ( str ) {
    var ru = {
        'а': 'a', 'б': 'b', 'в': 'v', 'г': 'g', 'д': 'd',
        'е': 'e', 'ё': 'e', 'ж': 'j', 'з': 'z', 'и': 'i',
        'к': 'k', 'л': 'l', 'м': 'm', 'н': 'n', 'о': 'o',
        'п': 'p', 'р': 'r', 'с': 's', 'т': 't', 'у': 'u',
        'ф': 'f', 'х': 'h', 'ц': 'c', 'ч': 'ch', 'ш': 'sh',
        'щ': 'shch', 'ы': 'y', 'э': 'e', 'ю': 'u', 'я': 'ya',
        'ъ': 'ie', 'ь': '', 'й': 'i'
        }, n_str = [];

        for ( var i = 0; i < str.length; ++i ) {
           n_str.push(
                  ru[ str[i] ]
               || ru[ str[i].toLowerCase() ] == undefined && str[i]
               || ru[ str[i].toLowerCase() ].replace(/^(.)/, function ( match ) { return match })
           );
        }

        return n_str.join('');
    }
    async function submitButton(columns){
        var data = {};
        columns.forEach((key) => {
            data = Object.assign(data, { [rus_to_latin(key)]:  document.getElementById(key).value});
        });
        const body = JSON.stringify(data);
        let response = await fetch('/get-result/', {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'POST',
            body: body
        });
        document.getElementById('response').innerHTML = await response.json();
    }
</script>